/* Style the entire nav container */
nav {
  background-color: #333;
  padding: 1.25rem;
}

/* Remove default list styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

/* Style list items */
nav li {
  margin: 0;
}

nav li.logo {
  margin-right: auto;
}


/* Style the links */
nav a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

/* Change color on hover */
nav a:hover {
  background-color: #F9980B;
  color: white;
}

/* ===== AMPLIFY AUTHENTICATOR STYLING ===== */

/* Center the authenticator on the page */
[data-amplify-authenticator] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}

/* Remove the "Welcome Back" text */
[data-amplify-authenticator]::before {
  display: none;
}

[data-amplify-authenticator] .amplify-visually-hidden {
  display: none;
}

[data-amplify-authenticator] .amplify-tabs__item {
  background-color: #333;
  color: white;
  padding-right: 30px;
}

[data-amplify-authenticator] .amplify-tabs__item--active {
  background-color: #F9980B;
  color: white;
}

[data-amplify-authenticator] .amplify-flex {
  border: none;
  background-color: #333;
}

[data-amplify-authenticator] .amplify-field {
  margin-top: 1rem;
}

[data-amplify-authenticator] .amplify-button--primary {
  background-color: #F9980B;
  color: white;
}

[data-amplify-authenticator] .amplify-textfield {
  padding-left: 5px;
}

[data-amplify-authenticator] .amplify-field-group--horizontal {
  display: flex;
}

[data-amplify-authenticator] .amplify-field__show-password {
  background: transparent;
}

[data-amplify-authenticator] .amplify-button--primary {
  margin-left: 3rem;
  padding-left: 50px;
  padding-right: 50px;
}

[data-amplify-authenticator] .amplify-button--link {
  background: transparent;
  font-size: small;
  margin-left: 2.5rem;
}